# Local vscode history
.history/

# Built-in vscode extensiosn
*.vsix

# Env vars
**/*.env

# Dir
node_modules/

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
